*{
    margin:0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
/* -------------------------------Hamburger Menu -------------------------------------*/

.mcbutton{
  position: fixed;
  top: 12%;
  left: 92%;
  margin-left: -22px;
  margin-top: -22px;
  width: 10px;
  height: 15px;
  cursor: pointer;
  z-index: 4;
}
.mcbutton b {
  position: absolute;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: rgb(102, 57, 201);
}

.mcbutton b:nth-child(1){
  top: 0;
}
.mcbutton b:nth-child(2){
  top: 50%;
}
.mcbutton b:nth-child(3){
  top: 100%;
}

/* ---------------------------------------------Elementos del menu -----------------------------*/
.menu-items{
  position: fixed;
  background-color: rgba(255, 255, 255, .9);
  z-index: 3;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}
.menu-items.is-active{
  top: 0;
}
/* ----------------------------Grid Css---------------------------- */
.container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, auto);
  grid-template-areas:  "header             header              header"
                        "welcome            welcome             welcome"
                        "title1             title1              title1"
                        "phrase             phrase              phrase"
                        "photo              greeting            greeting"
                        "photo              text-me             text-me"
                        "title2             title2              title2"
                        "web                web                 web"
                        "s-skills           s-skills            s-skills"
                        "title3             title3              title3"
                        "proyect1           proyect1            info-poke"
                        "info-mesereando    proyect2            proyect2"
                        "proyect3           proyect3            info-fitclub"
                        "info-weencrypt     proyect4            proyect4"
                        "footer             footer              footer";

  background-image: url(assets/img/fondo-bienvenida-01.png);
  /* align-content: center; */
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
    
}
.container .header{
  /* background: black; */
  grid-area: header;
  /* padding: 3%; */
}

.container .welcome {
  grid-area: welcome;
  display: grid;
  text-align: center;
  align-content: center;
  justify-content: center;
  /* padding: 5%; */
  height: 100vh;
  /* background: coral; */
}
.container .title1{
  grid-area: title1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 3%;
  color: rgb(102, 57, 201);;
  font-weight: 500;
  font-size: 230%;

  /* background: crimson; */
}
.container .photo{
  grid-area: photo;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-top: 20%;
  /* width: 60%; */
  /* background: cornflowerblue; */
}
.photo-perfil {
  width: 75%;
}
.container .greeting{
  grid-area: greeting;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(41, 125, 252);
  /* background: darkgreen; */
  font-size: 180%;
  font-weight: 550;
}
.container .text-me{
  grid-area: text-me;
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  padding-right: 15%;
  padding-left: 15%;
  color: rgb(114, 114, 114);
  font-size: 105%;
  /* background: chartreuse; */
}
.cv{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(114, 114, 114);
  background-color: #ffffff;
  border: 1px solid rgb(41, 125, 252);
  padding: 1%;
  margin-top: 8%;
  width: 15%;
  text-decoration: none;
  font-size: 90%;
  border-radius: 2px;
}
.cv:hover{
  transform: scale(1.15);
  border: 0px;
  /* background-color: rgb(152, 197, 231); */
  color:rgb(41, 125, 252);
  cursor: pointer;
}
.container .phrase{
  grid-area: phrase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  font-family: 'Great Vibes', cursive;
  color: rgb(114, 114, 114);
  padding: 6%;
  font-style: italic;
}
.container .title2{
  grid-area: title2;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  padding-bottom: 7%;
  color: rgb(102, 57, 201);
  font-weight: 500;
  font-size: 230%;
  /* background: crimson; */
}
.container .web{
  grid-area: web;
  text-align: center;
  padding: 2% 10% 7% 10%;
  background-color: rgb(255, 70, 193);
  height: 90vh;
}

.container .s-skills{
  grid-area: s-skills;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(114, 114, 114);
  font-kerning: normal;
  text-decoration: none;
  height: 90vh;
}
.subtitle-tech {
  color: rgb(255, 255, 255);
  font-size: 250%;
  padding: 5%;
  
}
.subtitle {
  color: rgb(114, 114, 114);
  font-size: 130%;
  padding: 5%;
  
}
.icons {
  padding: 3% 3% 6% 3%;
}
.container .title3{
  grid-area: title3;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 7%;
  color: rgb(102, 57, 201);
  font-weight: 500;
  font-size: 230%;
  /* background: crimson; */
}
.photo-proyect {
  height: 100vh;
  padding: 5%;
}
.title-proyects {
  color: rgb(41, 125, 252);
  font-size: 230%;
  font-weight: 500;
  padding-bottom: 2%;
}
.website {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(114, 114, 114);
  background-color: transparent;
  border: 1px solid rgb(41, 125, 252);
  padding: 2%;
  margin-top: 10%;
  width: 30%;
  text-decoration: none;
  font-size: 90%;
  border-radius: 2px;
}
.website:hover{
  transform: scale(1.15);
  border: 0px;
  /* background-color: rgb(152, 197, 231); */
  color:rgb(41, 125, 252);
  cursor: pointer;
}
.code {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(114, 114, 114);
  background-color: transparent;
  border: 1px solid rgb(41, 125, 252);
  padding: 2%;
  margin-top: 10%;
  width: 30%;
  text-decoration: none;
  font-size: 90%;
  border-radius: 2px;
}
.code:hover{
  transform: scale(1.15);
  border: 0px;
  /* background-color: rgb(152, 197, 231); */
  color:rgb(41, 125, 252);
  cursor: pointer;
}
.proyect-tools {
  padding-left: 4%;
  /* color: rgb(102, 57, 201); */
  /* list-style-image: ; */
}
.container .proyect1{
  grid-area: proyect1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container .info-poke{
  grid-area: info-poke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20%;
  color: rgb(114, 114, 114);
  font-size: 105%;
}
.container .proyect2{
  grid-area: proyect2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(255, 249, 253);
}
.container .info-mesereando{
  grid-area: info-mesereando;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
  padding-right: 6%;
  color: rgb(114, 114, 114);
  font-size: 105%;
  background: rgb(253, 238, 249);
}
.container .proyect3{
  grid-area: proyect3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container .info-fitclub{
  grid-area: info-fitclub;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20%;
  color: rgb(114, 114, 114);
  font-size: 105%;
}
.container .proyect4{
  grid-area: proyect4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(255, 249, 253);
}
.container .info-weencrypt{
  grid-area: info-weencrypt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6%;
  padding-left: 20%;
  color: rgb(114, 114, 114);
  font-size: 105%;
  background: rgb(253, 238, 249);
}
.container .footer{
  grid-area: footer;
  background-color: rgb(102, 57, 201);
  height: 12vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  padding: 5%;

}
.icons-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  list-style: none;
  justify-items: center;
  padding: 3%;
}
.name-footer {
  color: rgb(255, 255, 255);
  font-size: 250%;
  padding-bottom: 2%;
}
.text-service {
  color: #ffffff;
}
/* -----------------Estilos desktop -----------*/
h1{
  font-size: 580%;
  font-weight: 100;
  color: rgb(102, 57, 201);
  font-family: 'Great Vibes', cursive;
}
#study{
  font-size: 160%;
  text-align: center;
  font-weight: 550;
  color: rgb(102, 57, 201);
}

/* ------------------media queries---------------------- */

@media screen and (max-width: 768px){
  .container{
    background-position: left;
    grid-template-areas:"header         header         header"
                        "welcome        welcome        welcome"
                        "title1         title1         title1"
                        "photo          photo          photo"
                        "greeting       greeting       greeting"
                        "phrase         phrase         phrase"
                        "text-me        text-me        text-me"
                        "title2         title2         title2"
                        "web            web            web"   
                        "s-skills       s-skills       s-skills"
                        "title3         title3         title3"
                        "proyect1       proyect1       proyect1"
                        "info-poke      info-poke      info-poke"
                        "proyect2       proyect2       proyect2"  
                        "info-mesereando info-mesereando  info-mesereando"
                        "proyect3       proyect3       proyect3"       
                        "info-fitclub   info-fitclub   info-fitclub"
                        "proyect4       proyect4       proyect4"
                        "info-weencrypt  info-weencrypt info-weencrypt"
                        "footer         footer         footer";
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }
  h1{
    font-size: 500%;
    font-weight: 100;
    color: rgb(102, 57, 201);
    font-family: 'Great Vibes', cursive;
  }
  #study{
    font-size: 170%;
    text-align: center;
    color: rgb(102, 57, 201);
  }
  .container .title1{
    font-weight: 500;
    font-size: 180%;
  }
  .container .photo{
    padding-left: 5%;
    padding-top: 5%;
  }
  .photo-perfil {
    width: 40%;
  }
}
/* ----------------------------Estilos menu ---------------------------------*/
/* header nav{
    background: transparent;
    margin-bottom: 10px;
    
  } */
    header nav ul {
      width: 100%;
      list-style: none;
      overflow: hidden;
    }
      header nav ul li{
        /* display: block; */
        padding-top: 40px;
        text-align: center;
        font-size: 130%;
      }
        header nav ul li a{
          /* display: block; */
          padding: 10px;
          color: #141D38;
          text-decoration: none;
          font-weight: normal;
          transition: all 0.4s linear;
          border-radius: 5px;
        }
        /* header nav ul li a:hover {
          background: #EDF4FF;
        } */
