*{
    margin:0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
/* -------------------------------Hamburger Menu -------------------------------------*/

.mcbutton{
  position: fixed;
  top: 12%;
  left: 92%;
  margin-left: -22px;
  margin-top: -22px;
  width: 10px;
  height: 15px;
  cursor: pointer;
  z-index: 4;
}
.mcbutton b {
  position: absolute;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: rgb(102, 57, 201);
}
.mcbutton b:nth-child(1){
  top: 0;
}
.mcbutton b:nth-child(2){
  top: 50%;
}
.mcbutton b:nth-child(3){
  top: 100%;
}

/* ---------------------------------------------Elementos del menu -----------------------------*/
.menu-items{
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}
.menu-items.is-active{
  top: 0;
}
/* ----------------------------Grid Css---------------------------- */
.container{
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, auto);
  grid-template-areas: "header    header    header"
                        "welcome  welcome   welcome"
                        "title1   title1    title1"
                        "phrase   phrase    phrase"
                        "photo     greeting  greeting"
                        "photo    text-me   text-me"
                        "photo    cv        cv"
                        "title2   title2    title2"
                        "web       design      s-skills"
                        "title3   title3    title3"
                        "proyect1 proyect2  proyect3"
                        "footer   footer    footer";

  background-image: url(assets/img/fondo-bienvenida-new.png);
  /* align-content: center; */
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
    
}
.container .header{
  /* background: black; */
  grid-area: header;
  /* padding: 3%; */
}

.container .welcome {
  grid-area: welcome;
  display: grid;
  text-align: center;
  align-content: center;
  justify-content: center;
  /* padding: 5%; */
  height: 100vh;
  /* background: coral; */
}
.container .title1{
  grid-area: title1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 4%;
  color: rgb(102, 57, 201);;
  font-weight: 400;
  font-size: 180%;
  /* background: crimson; */
}
.container .photo{
  grid-area: photo;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  /* width: 60%; */
  /* background: cornflowerblue; */
}
.container .greeting{
  grid-area: greeting;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(152, 197, 231);
  /* background: darkgreen; */
  font-size: 180%;
  font-weight: 500;
}
.container .text-me{
  grid-area: text-me;
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  padding-right: 15%;
  padding-left: 15%;
  color: rgb(114, 114, 114);
  font-size: 105%;
  /* background: chartreuse; */
}
.container .cv{
  grid-area: cv;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(114, 114, 114);
  background-color: #ffffff;
  border: 1px solid rgb(152, 197, 231);
  height: 50%;
  width: 15%;
  text-decoration: none;
  font-size: 90%;
  border-radius: 2px;
}
.cv:hover{
  transform: scale(1.15);
  border: 0px;
  /* background-color: rgb(152, 197, 231); */
  color:rgb(152, 197, 231);
  cursor: pointer;
}
.container .phrase{
  grid-area: phrase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  font-family: 'Great Vibes', cursive;
  color: rgb(114, 114, 114);
  padding: 3%;
  font-style: italic;

}
.container .title2{
  grid-area: title2;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 4%;
  color: rgb(102, 57, 201);;
  font-weight: 400;
  font-size: 180%;
  /* background: crimson; */
}
.container .web{
  grid-area: web;
  text-align: center;

}
.container .design{
  grid-area: design;
  text-align: center;
}
.container .s-skills{
  grid-area: s-skills;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(114, 114, 114);
  font-kerning: normal;
  text-decoration: none;
}
.subtitle {
  color: rgb(114, 114, 114);
  font-size: 130%;
  padding: 5%;
  
}
.web:hover {
  color: rgb(102, 57, 201);;
}
.icons {
  width: 23%;
}
.icons-design {
  width: 31%;
}
.container .title3{
  grid-area: title3;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 4%;
  color: rgb(102, 57, 201);;
  font-weight: 400;
  font-size: 180%;
  /* background: crimson; */
}
.container .proyect1{
  grid-area: proyect1;
}
.container .proyect2{
  grid-area: proyect2;
}
.container .proyect3{
  grid-area: proyect3;
}
.container .footer{
  grid-area: footer;
}
/* -----------------Estilos desktop -----------*/
h1{
  font-size: 580%;
  font-weight: 100;
  color: rgb(102, 57, 201);
  font-family: 'Great Vibes', cursive;
}
#study{
  font-size: 160%;
  text-align: center;
  font-weight: 550;
  color: rgb(102, 57, 201);
}

/* ------------------media queries---------------------- */

@media screen and (max-width: 768px){
  .container{
    background-position: left;
    grid-template-areas:"header     header      header"
                        "welcome    welcome     welcome"
                        "title1     title1      title1"
                        "photo      photo       photo"
                        "greeting   greeting    greeting"
                        "phrase     phrase      phrase"
                        "text-me    text-me     text-me"
                        "cv    cv     cv"
                        "title2   title2    title2"
                        "web       web  design"   
                        "s-skills  s-skills   s-skills"
                        "title3     title3      title3"
                        "proyect1   proyect1    proyect1"  
                        "proyect2   proyect2    proyect2"
                        "proyect3   proyect3    proyect3"
                        "footer     footer      footer";

  }
  h1{
    font-size: 400%;
    font-weight: 100;
    color: rgb(102, 57, 201);
    font-family: 'Great Vibes', cursive;
  }
  #study{
    font-size: 120%;
    text-align: center;
    color: rgb(102, 57, 201);
  }
}
/* ----------------------------Estilos menu ---------------------------------*/
/* header nav{
    background: transparent;
    margin-bottom: 10px;
    
  } */
    header nav ul {
      width: 100%;
      list-style: none;
      overflow: hidden;
    }
      header nav ul li{
        /* display: block; */
        padding-top: 40px;
        text-align: center;
        font-size: 130%;
      }
        header nav ul li a{
          /* display: block; */
          padding: 10px;
          color: #141D38;
          text-decoration: none;
          font-weight: normal;
          transition: all 0.4s linear;
          border-radius: 5px;
        }
        /* header nav ul li a:hover {
          background: #EDF4FF;
        } */
